---
layout: category
category: Home 
title: Panxw's Blog 
---
    <ul class="list-group list-group-flush">
      {% for post in site.posts limit:12 %}
      {% if post.url contains "index.html" %}
      {% else %}
      <li class="list-group-item">
              <a href="{{ post.url }}">{{ post.title }}</a>
              <span style="float:right;color:#cccccc;font-size:10px;text-align:right;">{{ post.date | date:"%Y-%m-%d" }}</span>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    <hr/>
    <div style="text-align:center">
	    <a href="/archives.html">All posts&raquo;...</a>
    </div>
